"BasedOnStyle": "Google"
"IndentWidth": 4
"AlignAfterOpenBracket": "Align"
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: "Empty"
"SpaceBeforeParens": "ControlStatements"
"DerivePointerAlignment": false
"PointerAlignment": "Left"
"BreakBeforeBraces": "Attach"
ColumnLimit: 150
