[alias]
        st = status
        graph = log --graph --decorate --pretty=oneline --abbrev-commit
        ck = checkout
        br = branch
        log1 = log --oneline
        gp = log --graph --decorate --pretty=oneline --abbrev-commit
        gpp = log --graph --decorate --abbrev-commit --format=format:"%C(auto)%h %Cgreen%>>|(32)%an %Cblue%ai%C(auto)%d %Creset%s"
        bump = merge --ff-only
        f = fetch -v
